@charset "utf-8";@charset "UTF-8";body,.wrap.login{background:#FFF}.footer.loginFooter{border:none;background:#FFF}.loginWrap{position:relative;padding:18px
0 130px}.loginWrap

.login-box{float:right;width:400px}
.qd-pop-close{position:absolute;z-index:1000001;top:-12px;right:-12px;width:36px;height:36px;background:url(../images/step_sprite.png) -74px 0}@media (max-width: 1024px){.pageCenter{width:960px !important}.loginWrap
img{zoom: .8}.login-box{margin-top:-70px}}

.loginWrap{
    min-height: 550px;
}
.login-box{
    width: 300px!important;
    min-height: 300px;
}

.mt{
    margin-top:10px !important;
}
.mr{
   margin-left: 30px ;
}

.hight{
    height: 50px !important;
    line-height: 50px;
    font-size:20px;
    color:darkred;
}
.float{
    float:right;
}