.score{
    width:745px;
    min-height:500px;
    /*border:1px solid #000;*/
    margin-top:100px;
}
.score .head{
    width: 745px;
    border:1px solid #000000;
    text-align:center;
    height: 50px;
    line-height:50px;
}
.head h3{
    font-size:30px;
    height: 50px;
    line-height: 50px;
}
.score .zong{
    width:745px;
    min-height:0px;
    /*border:1px solid #000000;*/
}
.zong .dan{
    width:745px;
    height:100px;
    border:1px solid #000;
    margin-top:5px;
}
.zong .ping{
    text-align:center;
    font-size:15px;
    margin-left:339px;
}
.dan .limg{
    width:100px;
    height:100px;
    /*border:1px solid #000;*/
    float:left;
}
.dan .limg img{
    margin-top:15px;
    margin-left:22px;
}
.dan .limg h5{
    text-align:center;
}
.dan .pinglun{
    width:620px;
    height:100px;
    /*border:1px solid #000;*/
    float:right;
}
.dan .pinglun h3{
    width:600px;
    margin-top:10px;
    height:67px;
    border:1px solid #000000;
    margin-left:5px;
    text-align: center;
    line-height: 67px;
}
.woa{
    text-align:center;
}
.woa .text-but{
    width:43px;
    height:242px;
    /*border:1px solid #000;*/
    text-align:center;
    float:right;
}